html, body {
    min-height: 100vh;
}

header.desktop-menu {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 75%) 100%)
}

.desktop-menu {
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: top 500ms;
}

.desktop-menu.fixed-top-visible {
    top: -200px;
}

.cc-logo {
    width: 200px;
}

.m-option {
    font-size: 25px;
    text-decoration: none;
}

.m-option:hover {
    text-decoration: none;
}

main {
    margin-top: 0;
    height: 100%;
    min-height: 98vh;
    position: relative;
}


/* MOBILE MENU */
header.mobile-menu {
    background: #1F252D;
    box-shadow: 0 0 20px 5px #000000;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: top 500ms;
}

.mobile-menu.fixed-top-visible {
    top: 0;
}

.mobile-menu-content .row div {
    padding: 11px;
    font-size: 45px;
    line-height: 45px;
}

.mobile-menu-content .row div a, .mobile-menu-content .row div a:hover {
    text-decoration: none;
}

.burger-container {
    position: absolute;
    right: 15px;
    top: 25px;
}

.h-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    margin: 10px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-11px, -11px);
    transform: rotate(45deg) translate(-11px, -11px);
}

.mobile-menu-content {
    top: -250vh;
    left: 0;
    background: #1F252D;
    z-index: 1000;
    transition: top 500ms;
}

.mobile-menu-content.open {
    top: 0;
}


/* CONTACT SECTION */
.contact-section {
    background-color: #1F252D;
    background-image: url('/image/isotipo-img_CC-01.png');
    background-repeat: no-repeat;
    background-position: 27% 80%;
    background-size: 540px;
    transition: background-position 100ms;
}

.social-img {
    width: 50px;
    margin: 0 2px 0;
}

.social-link, .social-link:hover {
    text-decoration: none;
}

.text-content a {
    color: #ffffff;
}

footer {
    background-color: #D02C2F;
}

footer .container {
    font-size: 18px;
    padding: 10px 0;
}

footer .container span {
    padding: 0 10px;
}

.link-privacy {
    text-decoration: none;
}

.link-privacy:hover {
    text-decoration: none;
}

/* CALL TO ACTION SECTION */
.call-to-action {
    position: fixed;
    bottom: 110px;
    right: 4%;
    width: 80px;
    text-align: center;
}

.call-to-action img {
    margin: 5px auto;
    width: 65px;
    box-shadow: 0 5px 10px -2px #000000;
    border-radius: 50%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .cc-logo {
        width: 380px;
    }

    .burger-container {
        right: 0;
        top: 45px;
    }

    .bar1, .bar2, .bar3 {
        width: 100px;
    }

    .mobile-menu-content .row div {
        padding: 15px;
        font-size: 55px;
        line-height: 60px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-10px, 5px);
        transform: rotate(-45deg) translate(-10px, 5px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-12px, -10px);
        transform: rotate(45deg) translate(-12px, -10px);
    }

    footer .container {
        font-size: 20px;
        padding: 38px 0;
    }

    footer .container span {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .desktop-menu {
        top: -150px;
    }

    .desktop-menu.fixed-top-visible {
        top: 0;
    }

    .mobile-menu {
        top: -150px;
    }

    .mobile-menu.fixed-top-visible {
        top: 0;
    }

    .mobile-menu-content {
        top: -103vh;
    }

    .mobile-menu-content.open {
        top: 0;
    }

    .call-to-action {
        right: 3%;
        bottom: 45px;
        width: 130px;
    }

    .call-to-action img {
        margin: 10px auto;
        width: 100px;
    }
}

@media (min-width: 1200px) {

}
