@keyframes popFBS {
    0% {bottom: -155px;}
    70% {bottom: -155px;}
    100% {bottom: -1px;}
}

@keyframes popFBSlg {
    0% {bottom: -155px;}
    70% {bottom: -155px;}
    100% {bottom: 20px;}
}

html {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden auto;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.desktop-menu {
    display: none;
}

.desktop-menu .header-div {
    background-color: #ffffff;
}

.desktop-menu .header-div .cc-logo, .desktop-fixed-menu .header-div .cc-logo {
    width: 200px;
}

.desktop-menu .header-div nav.cc-menu-container,
.desktop-fixed-menu .header-div nav.cc-menu-container {
    margin: 0 20px;
}

.desktop-menu .header-div nav a,
.desktop-fixed-menu .header-div nav a {
    color: #12213d;
    font-size: 16px;
}

.desktop-menu .header-div nav a:hover,
.desktop-fixed-menu .header-div nav a:hover {
    text-decoration: none;
}

.desktop-menu .hangout-button,
.desktop-fixed-menu .hangout-button {
    width: 230px;
    font-size: 14px;
    padding: 8px 7px;
}

.desktop-fixed-menu {
    position: fixed;
    background-color: #ffffff;
    top: -150vh;
    border-radius: 75px;
    padding: 20px 0 10px;
    box-shadow: #000000 0 5px 10px -1px;
    transition: top 500ms;
    z-index: 90;
}

.desktop-fixed-menu.visible {
    top: -150vh
}

.burguer {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 40px;
    height: 32px;
}

.mobile-menu {
    position: fixed;
    z-index: 991;
}

.mobile-menu .header-div {
    background-color: #FFFFFFFF;
    border-radius: 45px;
    box-shadow: 2px 12px 15px -10px #000000;
}

.mobile-menu .header-div a {
    margin: 0 auto;
    width: auto;
}

.mobile-menu .header-div a img {
    height: 40px;
    margin: 0 auto 10px;
}

.mobile-menu input
{
    display: block;
    width: 40px;
    height: 32px;
    position: relative;
    top: 0;
    right: 0;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
    margin-bottom: -29px;
}

/*
 * Just a quick hamburger
 */
.mobile-menu span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;

    top: 0;
    left: 4px;
}

.mobile-menu span:first-child
{
    transform-origin: 0 0;
}

.mobile-menu span:nth-last-child(2)
{
    transform-origin: 0 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.mobile-menu input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
.mobile-menu input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.mobile-menu input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.mobile-menu-content
{
    top: -10vh;
    left: 200vw;
    height: 110vh;
    width: 115vw;
    margin: 0;
    background-color: #2d2e82;
    transition: left 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    position: absolute;
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.mobile-menu input:checked ~ .mobile-menu-content
{
    left: -95vw;
}

.mobile-menu-content .list-el {
    margin: 10px;
}

.mobile-menu-content .list-el a {
    text-decoration: none;
    font-size: 45px;
}

.mobile-menu-content .hangout-button {
    background-color: #00efe7;
    color: #12213d;
}


.call-to-action {
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 989;
}

.call-to-action img {
    width: 75px;
}

.promo-modal {
    position: fixed;
    background-color: #000000CD;
    width: 0vw;
    height: 0vh;
    top: 50%;
    left: 50%;
    background-blend-mode: multiply;
    overflow: hidden;
    transition: width 250ms, height 250ms;
    translate: -50% -50%;
    z-index: 1000;
}

.promo-modal.open {
    width: 100vw;
    height: 100vh;
}

.promo-modal .closable-area {
    position: absolute;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.promo-modal .close-button {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: #ebebeb;
    border-radius: 50%;
    font-size: 21px;
    line-height: 35px;
    color: #12213d;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    z-index: 50;
}


.promo-modal .promo-container {
    width: 92%;
    margin: 0 auto;
    background-color: #2d2e82;
    background-image: -webkit-linear-gradient(top, #1d70b7, #2d2e82);
    background-image:    -moz-linear-gradient(top, #1d70b7, #2d2e82);
    background-image:     -ms-linear-gradient(top, #1d70b7, #2d2e82);
    background-image:      -o-linear-gradient(top, #1d70b7, #2d2e82);
    background-image:         linear-gradient(top, #1d70b7, #2d2e82);
    border-radius: 45px;
    top: 50%;
    position: relative;
    translate: 0 -50%;
    z-index: 991;
}

.promo-modal .promo-container .img-cont {
    padding: 20px;
    position: relative;
}

.promo-modal .promo-container .img-cont img {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.promo-modal .promo-container .hangout-cont {
    height: 140px;
}

.promo-modal .promo-container .button-cont {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

.promo-modal .promo-container .hangout-button {
    background-color: #ffffff;
    padding: 10px 5px;
    font-size: 21px;
    color: #12213d;
    margin-left: 0;
}

.fbs {
    position: fixed;
    left: 0;
    bottom: -1px;
    background: transparent;
    z-index: 990;
    width: 220px;
    animation-name: popFBS;
    animation-duration: 5s;
}

.false-footer, footer > div {
    background-color: #ffffff;
    border-radius: 20px;
    width: calc(100% - 1rem);
}

.false-footer img.alter-logo, footer img.alter-logo {
    width: 215px;
    margin: 50px auto 10px;
}

.false-footer .data, footer .data {
    margin-top: 0;
    color: #12213d;
    font-size: 18px;
}

.false-footer .mailto, footer .mailto {
    font-size: 16px;
    color: #12213d;
    line-height: 35px;
}

.false-footer p.socials, footer p.socials {
    margin-top: -15px;
    margin-bottom: 30px;
}

.false-footer img.img-social, footer img.img-social {
    width: 30px;
    margin: 0 5px;
}

.false-footer .legal-link, footer .legal-link {
    color: #12213d;
    text-decoration: none;
}

.false-footer .linea-gris, footer .linea-gris {
    position: absolute;
    background: #cccccc;
    width: 2px;
    height: 140px;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    translate: -50% -50%;
}

footer {
    margin-top: -520px;
}

.false-footer {
    background: transparent;
    visibility: hidden;
}

@media (min-width: 410px) {
    .mobile-menu .header-div a img {
        height: 50px;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .mobile-menu .header-div a img {
        height: 60px;
    }

    .burguer {
        top: 32px;
        right: 20px;
    }

    footer {
        margin-top: -455px;
    }

    .false-footer img.alter-logo, footer img.alter-logo {
        width: 300px;
        margin: 100px auto;
    }

    .false-footer, footer > div {
        background-color: #ffffff;
        border-radius: 20px;
    }

    .false-footer .data, footer .data {
        margin-top: 100px;
        color: #12213d;
        font-size: 18px;
    }

    .false-footer .mailto, footer .mailto {
        font-size: 20px;
    }

    .false-footer p.socials, footer p.socials {
        margin-top: -15px;
        margin-bottom: 50px;
    }

    .fbs {
        left: 30px;
        bottom: 20px;
        width: 260px;
        animation-name: popFBSlg;
    }
}

@media (min-width: 992px) {
    .desktop-menu {
        display: block;
    }

    .desktop-fixed-menu.visible {
        top: 0;
    }

    .mobile-menu {
        display: none;
    }

    .false-footer .mailto, footer .mailto {
        font-size: 26px;
    }

    .promo-modal .promo-container .hangout-cont {
        height: inherit;
    }

    .promo-modal .promo-container .img-cont {
        padding: 50px 0 50px 50px;
    }

    .promo-modal .promo-container .hangout-button {
        padding: 20px 25px;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .false-footer .mailto, footer .mailto {
        font-size: 32px;
    }

    .desktop-menu .header-div nav.cc-menu-container, .desktop-fixed-menu .header-div nav.cc-menu-container {
        margin: 0 35px;
    }

    .desktop-menu .header-div nav a, .desktop-fixed-menu .header-div nav a {
        font-size: 20px;
    }

    .desktop-menu .hangout-button, .desktop-fixed-menu .hangout-button {
        width: 320px;
        font-size: 20px;
        padding: 11px 12px;
    }

    .promo-modal .promo-container .hangout-button {
        font-size: 25px;
    }
}

@media (min-width: 1400px) {
    .desktop-menu .header-div .cc-logo, .desktop-fixed-menu .header-div .cc-logo {
        width: 250px;
    }

    .desktop-menu .header-div nav.cc-menu-container, .desktop-fixed-menu .header-div nav.cc-menu-container {
        margin: 0 55px;
    }

    .promo-modal .promo-container .hangout-button {
        font-size: 35px;
    }
}

@media (min-width: 1600px) {
    .desktop-menu .header-div .cc-logo, .desktop-fixed-menu .header-div .cc-logo {
        width: 270px;
    }

    .desktop-menu .header-div nav.cc-menu-container, .desktop-fixed-menu .header-div nav.cc-menu-container {
        margin: 0 75px;
    }

    .promo-modal .promo-container .hangout-button {
        font-size: 45px;
    }
}
