@media (max-width: 575px) {

}

body {
    background-color: #12213d;
}

.desktop-menu {
    padding: 10px 5px;
    border-radius: 65px;
    background-color: #ffffff;
    margin: 0 0 15px;
}

.desktop-menu div.header-div {
    background-color: transparent;
}

/* MAIN SECTION */
.main-section {
    /*margin-bottom: 120px;*/
}

.main-section iframe {
    aspect-ratio: 1;
    min-height: 60vh;
    max-height: 75vh;
    min-width: 100%;
    width: 100%;
}

.slide-section .text-container .text-data-title {
    font-size: 30px;
    color: #ffffff;
    line-height: 40px;
    margin-bottom: 40px;
}

.slide-section .img-cont {
    text-align: center;
}


.slide-section .img-cont img {
    width: 95%;
    border-radius: 50px;
}

.slide-section .text-data-question {
    color: #00efe7;
    font-size: 20px;
    margin-bottom: 5px;
}

.slide-section .text-data-answer {
    margin-bottom: 30px;
    font-size: 18px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .slide-section .text-container .text-data-title {
        font-size: 48px;
        color: #ffffff;
        line-height: 50px;
        margin-bottom: 65px;
    }

    .slide-section .text-data-question {
        color: #00efe7;
        font-size: 25px;
        margin-bottom: 0;
    }

    .slide-section .text-data-answer {
        margin-bottom: 30px;
        font-size: 25px;
    }
}

@media (min-width: 992px) {


}

@media (min-width: 1200px) {

}
