@media (max-width: 575px) {
    .carousel-caption {
        right: 0;
        left: 0;
    }
}

/* MAIN SECTION */
.main-section {
    min-height: 95vh;
}

.main-bg {
    background-color: #1F252D;
    height: 95vh;
    width: 100%;
    position: fixed;
    background-size: cover;
    z-index: -1;
}

.main-bg video {
    min-height: 85vh;
    margin: 100px auto 0;
    min-width: 100vw;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

#mainCarousel {
    height: 95vh;
}

#mainCarousel .section-title {
    font-size: 40px;
    line-height: 75px;
    margin: 0 0 -15px;
}

#mainCarousel .section-title .bigger {
    font-size: 50px;
    line-height: 0;
}

#mainCarousel .section-title .bold {
    font-weight: 700;
}

#mainCarousel .text-content-slide {
    font-size: 22px;
}

#mainCarousel .text-content-slide.bold {
    font-weight: 700;
}

.slider-img {
    height: 65vh;
    width: 100vw;
}

/* US SECTION */
.us-section {
    padding: 100px 0 0 0;
    position: absolute;
    width: 100%;
    transform: translate(0, calc(-100%));
    color: #1F252D;
}

.us-section .container .row .col, .fake-us-section .container .row .col {
    padding-left: 3rem;
    padding-right: 3rem;
}

.us-logo {
    position: absolute;
    top: -65px;
    width: 70px;
    left: calc(50% - 40px);
}

/* MISSION SECTION */
.mission-section {
    background-color: #1F252D;
}

.mission-section .col:first-child {
    padding-right: 30px;
}
.mission-section .col:last-child {
    padding-left: 30px;
}

/* MODEL SECTION */
.model-section {
    background-color: #1C355E;
}

/* MEDICAL SECTION */
.medical-section {
    background-color: #FFFFFF;
    color: #1F252D;
}

.img-medical-container {
    display: none;
}

.text-medical {
    color: #1F252D;
}

/* TEAM SECTION */
.team-section {
    background-color: #345D9D;
}

.team-section .text-subtitle {
    width: 94%;
    margin: auto;
}

.team-member {
    border-radius: 50%;
    width: 250px;
    margin: 5px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    #mainCarousel .section-title {
        font-size: 80px;
    }

    #mainCarousel .section-title .bigger {
        font-size: 100px;
    }

    #mainCarousel .text-content-slide {
        font-size: 35px;
    }

    .slider-img {
        height: 85vh;
        width: 100vw;
    }

    .main-bg {
        left: 0;
    }

    .main-bg video {
        height: 135%;
        margin: -50px auto 0;
    }

    .slider-img {
        height: 75vh;
        width: 100vw;
    }

    .img-medical-container {
        display: block;
    }

    .us-section .container .row .col {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .us-logo {
        top: -100px;
        width: 116px;
        left: calc(50% - 58px);
    }

    .team-section .text-subtitle {
        width: 55%;
        margin: auto;
    }

}

@media (min-width: 1200px) {

}
